body{
  background-image: url("https://fsb.zobj.net/crop.php?r=2HHZCrEdLzo09RRczQViB5ij0HenRHs-mjkG4Dq9nO6_tf3tGAvQKSkoenLLVsnk2tXeDI8L5BaOquX7TH0z1COIh2TciAJwG9E_WJIY8IO-InZCyNTNUWSV2-CgCk7ys8kNrRWVAtcj4QnmOJoLsxlAzf6Iq_Cp5RhFRA");
  background-repeat: no-repeat;
  background-size: cover;
}
